.icon-dmc {
    width: 140px;
    height: 140px;
    min-width: 140px;
    background: url('../../../../static/images/DMC.jpg') no-repeat;
}

.icon-maestro {
    width: 140px;
    height: 140px;
    min-width: 140px;
    background: url('../../../../static/images/MAESTRO.jpg') no-repeat;
}

.icon-mediagates360 {
    width: 140px;
    height: 140px;
    min-width: 140px;
    background: url('../../../../static/images/mediagates360.jpg') no-repeat;
}