.card-title p,
.card-title h2 {
    margin: 0;
}

.icon-close {
    font-size: 14px;
    font-weight: 700;
    float: right;
    cursor: pointer;
}

.card-title {
    color: #fefefe;
    background: #3551AE;
    font-size: 1rem;
    padding-top: 9px;
    padding-bottom: 9px;
    position: relative;
}

.card-title p{
    color: #E0E0E0;
    font-size: 1rem;
}