.profileWithNudgeContainer {
  position: relative;
}
.leftContainer {
    position: relative;
    display: inline-block;
    width: 70%;
}

.leftContainer .bodypicwithresult {
  margin-top: 25px;
}

.leftContainer .nudge {
  margin-top: 5px;
}

.rightContainer {
  position: absolute;
  display: inline-block;
  width: 25%;
  right: 0;
}
