.background{
    background: #E7E6E3;
    height:100vh;
    width: 100%;
}

.small-icon{
    display: block !important;
    margin: 0 auto;
}

@media screen and (min-width: 800px) {
    .small-icon {
        width: 450px !important;
        height: 450px !important;
    }
}