@media screen and (min-width: 800px) {
    .main-container {
        width: 65%;
        margin-right: 9px;
    }
}

.overview-icon-container {
    position: absolute;
    top: 9px;
    right: 18px;
}