.icon-coders {
    width: 140px;
    height: 140px;
    min-width: 140px;
    background: url('/images/codersTrust.jpg') no-repeat;
}

.icon-ethical {
    width: 140px;
    height: 140px;
    min-width: 140px;
    background: url('/images/skillsoft.jpg') no-repeat;
}

.icon-digital {
    width: 140px;
    height: 140px;
    min-width: 140px;
    background: url('/images/digital_marketing_institute.jpg') no-repeat;
}

.icon-position-bottom .insideCard{
    align-items: flex-end;
}