.scoreCard {
    text-align: center;
    margin-top: 5px;
}

.scoreCard .titleBlock {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin-left: 5px;
    height: 50px;
    font-size: 14px;
}

.titleBlockIcon,
.titleBlockText {
    display: inline-block;
}

.titleBlockIcon {
    position: absolute;
    left: 15px;
    top: 5px;
}
.titleBlockText {
    width: 80%;
    position: absolute;
    right: 10px;
    text-align: right;
}
.titleBlockIcon img {
    width: 18px;
}

.titleRightBlockIcon,
.titleRightBlockText {
    display: inline-block;
}

.titleRightBlockIcon {
    position: absolute;
    right: 15px;
    top: 5px;
}
.titleRightBlockText {
    width: 80%;
    position: absolute;
    left: 15px;
    text-align: left;
}
.titleRightBlockIcon img {
    width: 18px;
}

.scoreCard .scoreItem {
    display: inline-block;
    vertical-align: middle;
    width: 3%;
    padding: 10px;
    text-align: center;
    height: 50px;
    line-height: 3;
    border: 1px solid #e5e5e5;
    margin-left: 5px;
}

.scoreCard .scoreItem ~ .scoreItem {
    border-left: transparent;
    margin-left: 0px;
}

.scoreCard .scoreItem .scored {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  background: #00a950;
  vertical-align: middle;
}
