body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e5e5e5;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/*icon size*/
.extra-small-icon {
  width: 150px !important;
  height: 150px !important;
}
/*END icon size*/

/*Font color*/
.color-light-blue {
  color: #2F97E4;
}
/*END Font color*/

/*background color*/
.background-yellow{
  background: #FFFCC3 !important;
}

.background-yellow-sharp{
  background: #fff200;
}

.background-light-grey{
  background: #F4F3F2;
}
/*END background color*/

.card-flex-center{
  display: flex;
  justify-content: center;
}

/*padding*/
.padding-aside{
  padding-left: 5% !important;
  padding-right: 9px !important;
}

.padding-width{
  padding: 0 9px !important;
}

.padding-width-percentage-5{
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.padding-width-percentage-10{
  padding: 0 10% !important;
}

.padding-large{
  padding: 27px !important;
}
/*END padding*/

/*margin*/
.extraSmallTopMargin {
  margin-top: 9px;
}

.extraTopMargin {
  margin-top: 18px;
}
/*END margin*/

.iconWarning {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-size: cover !important;
  background: url(./static/warning.svg) no-repeat;
}

/*In card aligment*/
.align-small-logo {
  vertical-align: top;
  display: inline-block;
  padding: 0px 9px;
}

.aside-paragraph {
  font-size: 1rem;
  color: #2C3E50;
  line-height: 1.2rem;
}